<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- CSS Section -->
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='./Content/app.css' />
</head>

<body>

<!-- Content Area -->

  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <br>
        <table class="table table-bordered table-striped table-hover">
          <!-- Header Row -->
          <h3>Customer Views</h3>
           <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Email Address</th>
            <th class="text-center">FeedBack</th>
            <th class="text-center">Country</th>
            <th class="text-center">Language</th>
            
          </tr>

          <!-- Template Row -->
          <% for (let count = 0; count < customerViews.length; count++) { %>
            <tr>
              <td class="text-center"><%= customerViews[count].firstName %></td>
              <td class="text-center"><%= customerViews[count].email %></td>
              <td class="text-center"><%= customerViews[count].feedback %></td>
              <td class="text-center"><%= customerViews[count].country %></td>
              <td class="text-center"><%= customerViews[count].language %></td>
            </tr>
          <% } %>

          
        </table>


      </div>
    </div>
  </div>




 <!-- JavaScript Section -->
  <script src="./jquery/dist/jquery.min.js"></script>
  <script src="./bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="./Scripts/core/app.js"></script>
</body>

</html>
